<h1 class="title">{{title}}</h1>

{{#if hasError}}
<h3 class="error_text">Error: {{error}}</h3>
{{/if}}

<p class="text">Challenge your friends in a test of wit!</p>

<a href="/rules" class="btn btn-default btn-lg">Rules</a>

<br><br>

{{#if isHost}}
<form method="POST" action="/game/create">
  <input type="text" name="username" placeholder="Name"><br>
  <input type="number"  min="0" name="bet" placeholder="Bet"><br><br>

  <input type="submit" width="48" height="48" name ="add" value="Host Game">
</form>
{{else}}
<form method="POST" action="/game/join">
  <input type="text" name="username" placeholder="Name"><br>
  <input type="number" min="0" name="bet" placeholder="Bet"><br><br>
  <input type="hidden" name="session" value={{session}}>
  <input type="submit" width="48" height="48" name ="add" value="Join Game">
</form>
{{/if}}
