

<h1 class="title">{{title}}</h1>
<p class="text">Challenge your friends in a test of wit!</p>

{{#if unpaid}}
<!-- venmo stuff-->
{{/if}}

{{#if ready}}
<div class="">
  <!-- edit venmo stuff -->
  <a href="/game" class="btn btn-default btn-lg">PLAY!</a>
</div>
{{/if}}

<a href="/rules" class="btn btn-default btn-lg">Rules</a>

<form method="POST" action="">
<input id="gameURL" type="text" name="textbox" value="HI" onclick="this.select()" />
</br>
<input type="submit" name ="add" value="Enter Your Name">
</form>

<!-- Target -->
<input id="foo" value="https://github.com/zenorocha/clipboard.js.git">

<!-- Trigger -->
<button class="btn" data-clipboard-target="#foo">
    <img src="https://zenorocha.github.io/clipboard.js/assets/images/clippy.svg" height="13" alt="Copy to clipboard">
</button>


<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"> </script>
<script>
var clipboard = new Clipboard('.btn'); 

    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>