<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="nav"> <a href="/">Home</a>&emsp;<a href="/faq">FAQ</a>&emsp;<a href="/support">Support</a> </div>
    <hr>
    {{{body}}}
  </body>
</html>
