<h2 class="title center">Rules</h2>
<hr class="threeFifths">
</center>
<ul>
  <li>1. Puzzles last for two (2) minutes.</li>
  <li>2. Disconnects or leaves between 2 minutes and 1 minute left result in a forfeit and loss of 50% of the bet.</li>
  <li>3. Disconnects or leaves between 1 minute and 0 minute left result in a forfeit and loss of 100% of the bet.</li>
  <li>4. Disconnects or leaves are automatically forfeit and you may not revoke the forfeit and enter an answer.</li>
  <li>5. Voluntary forfeit by submitting an empty answer. However, you may revoke your forfeit and enter an answer if there is still time allotted.</li>
  <li>6. To create a game, click <a href="/">here</a> and generate a new game URL. Send your URL to your friends.</li>
  <li>7. Games have a max of 4 players and a min of 2 players. The first four players to confirm their bets can play.</li>
  <li>8. Once a game has started, no player may join the game.</li>
</ul>
<center>