body, html {
height:100%;
font-family: Helvetica;
color: white;
}
body
{
width:50%;
margin-left:auto;
margin-right:auto;
}
.container {
margin-right: auto;
margin-left: auto;
}
.content {
padding: 10px 0px 10px 0px;
background-color: black;
}
h1, h2{
color:#51a154;
}
h1{
font-size: 70px;
margin: auto;
width: 100%;
}

h2{
font-size: 30px;
}
p{
color: white;
	}
a {
color: #5b89b7;
}

a:visited {
color: #5b89b7;
}

ul, li{
color: white;
font-size: 30px;
}

ul{
padding-left: 60px;
}

input[type=submit] {
padding: 30px 50px;
border-radius: 5px;
border: 0;
font-family: Tahoma;
font-size: 20px;
background: #51a154;
}
input[type=text] {
    width: 60%;
    line-height: 100%;
    font-size: 50px;
}
