body, html {
height:100%;
font-family: Helvetica;
color: #fafafa;
}
body
{

}
.container {

}
.content {
background-color: #fafafa;
}
h1, h2{
color:#CCFFFF;
}
h1{
font-size: 50px;
margin: auto;
width: 100%;
}

h2{
font-size: 30px;
}
p{
color: black;
	}
a {
color: #CCFFFF;
}

a:visited {
color: #CCFFFF;
}

ul, li{
color: black;
font-size: 30px;
}

ul{
padding-left: 60px;
}

input[type=submit] {
padding: 30px 50px;
border-radius: 5px;
border: 0;
font-family: Tahoma;
font-size: 20px;
background: #CCFFFF;
}
input[type=text] {
	color:black;
    width: 30%;
    line-height: 100%;
    font-size: 20px;
}
