body, html {
  height:100%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000000;
}

body {
  padding: 10px;
}

.container {

}

.content {
  padding:10px;
  background-color: #fafafa;
}

.player_box {
  padding:10px;
  margin:5px;
  background-color: #aaaaaa;
}

.error_text {
  color: #e34444;
}

h1, h2 {
  color:#0099FF;
}

h1 {
  font-size: 50px;
  margin: auto;
  width: 100%;
}

h2 {
  font-size: 30px;
}

p {
  color: black;
}

a {
  color: #0099FF;
}

a:visited {
  color: #0099FF;
}

ul, li {
  margin: 20px;
  color: black;
  text-align: left;
  font-size: 18px;
}

ul {
  padding-left: 60px;
}

input {
	color:black;
}

input[type=submit] {
  padding: 30px 50px;
  border-radius: 5px;
  border: 0;
  font-family: Tahoma;
  font-size: 20px;
  background: #0099FF;
}

input[type=text],[type=number] {
  width: 30%;
  line-height: 100%;
  font-size: 20px;
}

hr {
  height: 2px;
  background-color:#ffffff;
  color:#ffffff;
	border: 0 none;
  background-image: linear-gradient(to left, rgba(0, 153, 255, 0), rgba(0, 153, 255, 1), rgba(0, 153, 255, 0));

}

hr.threeFifths {
  width: 60%;
}

hr.sub_border {
  height: 2px;
  width: 20%;
  border: 0 none;
  background-color: #966401;
  color: #966401;
  width: 25%;
  height:1px;
}
